@using DSRSummerPractice.Services.DataTransferObject
<div class="row mt-5 mb-2">
    @{
        foreach (Currency сurrency in Model.currencies)
        {
            <label class="container">@Html.ActionLink(сurrency.Name, "Index", "CurrencyExchangeRateDetails", new { id = сurrency.Id})</label>
        }
    }
</div>

@*<input type="checkbox" value=currency.Id>
                <span class="checkmark"></span>*@